Sphinx==8.2.3
sphinx-autoapi
sphinx-autobuild
sphinx-autodoc-typehints
sphinx-copybutton
jupyter-sphinx
nbsphinx
sphinx_design
sphinx-gallery
furo
notebook
numpy
scipy
xarray
netCDF4
imageio
shapely
vtk>=9.4.2
pyvista[all]
trame
plotly
gmsh
matplotlib
openseespy
sectionproperties
tqdm
rich
Sphinx
pythreejs
triangle
jinja2
pypandoc